<main>
  <title>Angular</title>
  <h1>Real Madrid</h1>
  <p>El Real Madrid Club de Fútbol, más conocido simplemente como Real Madrid, es una entidad polideportiva con sede en Madrid, España. Wikipedia
    Entrenador: Carlo Ancelotti Tendencia
    Oficinas centrales: Madrid, España
    Atención al cliente: +34 902 32 18 09
    Cancha/estadio: Estadio Santiago Bernabéu
    Ligas: Liga de Campeones de la UEFA, LaLiga, Copa del Rey, Copa Mundial de Clubes de la FIFA
    Fundadores: Adolfo Meléndez, Juan Padrós, Carlos Padrós, Julián Palacios.</p>

</main>
<app-trabajo></app-trabajo>